$logoColor: #ff0000;
$colorBlack:  #000000;
$colorLigtGreen: #00ff11;
$colorLigtRed: #ff0000;
$colorForColumnBackGround: rgba(255, 255, 255, 0.11);
$height: 21px;

// . is Class
// # is Id

#content  // div with id: content
{
    color: $colorBlack;
}
